.homePage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e202a;
}
.logoName {
  display: flex;
  justify-content: space-evenly;
}
.logo {
  font-size: 100px;
  color: #2b9b90;
}
.logoText {
  font-size: 50px;
  color: #2b9b90;
  display: flex; 
  align-items: center;
}
.form {
  background-color: #282a36;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  max-width: 90%;
}
footer{
  position:absolute;
  bottom: 20px;
  color: #ebe3e3;
}
footer a {
  color: #2b9b90;
  transition: all 0.3s ease-in-out;
}
.inputGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainLabel{
  margin-bottom: 20px;
  color: #ebe3e3;
  margin-top: 10px;
  margin-left: 10px ;
}
.inputBox{
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  margin-bottom: 12px;
  margin-left: 15px;
  margin-right: 20px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
  width: 90%;
}
.btn{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.joinBtn{
  background-color: #2b9b90;
  width: 70px;
  display: flex;
  justify-content: center;
  margin-left: 19em;
  border-radius: 10px;
}
.joinBtn:hover{
  background-color: #1e6e66;
}
.createRoomInfo{
  margin-top: 20px;
  color: #ebe3e3;
  font-size: 14px;
}
.createNewBtn{
  color: #2b9b90;
  text-decoration: none;
  border-bottom: 1px solid #2b9b90;
  transition: all 0.3s ease-in-out;
}
.createNewBtn:hover, footer a:hover{
  color: #1e6e66;
  border-color: #1e6e66;
}
.mainWrapper{
  display: grid;
  grid-template-columns: 230px 1fr;
}
.sideBar{
  background-color: #14161e;
  padding: 16px;
  color: #ebe3e3;
  height: 97vh;
  display: flex;
  flex-direction: column;
}
.sideInner{
  flex: 1;
}
.clientList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.userDetail{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.logoAndText{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}
.editorLogo{
  font-size: 30px;
  color: #2b9b90;
}
.logo{
  font-size: 35px;
}
.leaveBtn{
  margin-top: 20px;
  background-color: #2b9b90;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.leaveBtn:hover{
  background-color: #1e6e66;
}